@import '_colors';
@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

body{
    background-color: $primary-color;
}

hr{
    border-top: 3px solid $dark-color;
}

img{
    width: auto;
    height: 100%;
    position: absolute;
}

svg{
    &:hover{
        color: $highlight-color !important;
    }
}

.card{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.cutoff{
    overflow: hidden;
}

.header{
    min-height: 5rem;
}

.intro{
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.profile{
    margin-top: 10rem;
}
