@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0%; }
  100% {
    transform: translateY(0);
    opacity: 100%; } }

body {
  background-color: #FFF05A; }

hr {
  border-top: 3px solid #191919; }

.card {
  width: 250px;
  height: 250px;
  overflow: hidden; }

img {
  width: auto;
  height: 100%;
  position: absolute; }

.cutoff {
  overflow: hidden; }

.profile {
  margin-top: 10rem; }

#intro {
  animation: 1s ease-out 0s 1 slideInFromTop;
  font-size: 10rem; }
